{% extends "base.html" %}

{% block content %}
    <h1 class="my-5">These are the surveys:</h1>

        <div class="row row-cols3 g-2"> 
            {% for survey in surveys %}
            <div class="col"> 
                <div class="p-3 border">
                    <a href="{% url 'surveys.detail' pk=survey.id %}" class="text-dark text-decoration-non">
                        <h3>{{survey.title}}</h3>
                    </a>
                    {{survey.text|truncatechars:10}}

                </div>
            </div>
            {% endfor %}

        </div>
{% endblock %}